openai
python-dotenv

requests

moviepy
Pillow

google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2

python-telegram-bot==20.7

tqdm
moviepy==1.0.3
imageio
imageio-ffmpeg
numpy
Pillow
